{% extends 'layout.html' %}

{% block title %} Dashboard | {% endblock %}
{% block social %}	
	<meta id="keywords" name="keywords" content="" />
	<meta id="description" name="description" content="" />
{% endblock %}
{% block css %}	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style_login.css">
{% endblock %}
{% block js %}	
	<script lang="javascript" src="{{ STATIC_URL }}js/dj_fw.js"></script>
	<script type="text/javascript">

		$(document).ajaxStart(function(){
		    $('#spinner').show();
		}).ajaxStop(function(){
		    $('#spinner').hide();
		});

	</script> 
{% endblock %}

{% block content %}
		<!-- Main Content Wrapper Start -->
		<div class="container" role="main">
			<!-- Main Content -->
			<section id="main-content" class="row">
							
				<div id="content" class="span8">
				  
					<div class="post-single" id="post">
						<div class="content-outer">
							<div class="content-inner">
								<article>
									<div class="article-header">
										<h1 class="title">Fichas</h1>
										<div class="separator"></div>
									</div>
									<div class="article-content restaurant">
										<div class="menu">
											<a class="btn" href="{% url 'go_add_sheets' %}"><i class="icon-plus-sign"></i> Crear Nuevo</a>
										</div>
										{% if list_directory %}
										<table class="table table-striped">
											<thead>
												<tr>
													<td class="status"></td>
													<td><strong>Imagen</strong></td>
													<td><strong>Título</strong></td>
													<td class="option"><strong>Opciones</strong></td>
												</tr>
											</thead>
											<tbody>
												{% for directory in list_directory %}
												<tr>
													<td class="action status">
														<div class="time">
														<span class="awe-ok" data-original-title="Estado de la Ficha" data-status="Activo"></span></div>
													</td>
													<td class="imagen">
														<img src="{{ STATIC_URL }}img/assets/slideshow/thumbnail-big.png" alt="Image">
													</td>
													<td>
														{{ directory.title }} <br> <small><strong>Resumen:</strong> Estado</small>
													</td>
													<td>
														<div class="btn-group">
												          <a class="btn" href="#"><i class="icon-cog icon-black"></i></a>
												          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
												          <ul class="dropdown-menu">
												            <li><a href="{% url 'go_edit_sheets' %}{{ directory.pk }}"><i class="icon-pencil"></i> Editar</a></li>
												            <li class="divider"></li>
												            <li><a href="#{% url 'go_add_sheets' %}"><i class="icon-eye-open"></i> Vista Previa</a></li>
												            <li class="divider"></li>
												            <li class="test" id="{{ directory.pk }}"><a href="#{% url 'go_add_sheets' %}"><i class="icon-remove"></i>Eliminar</a>
												            <script type="text/javascript">
												            $('.test').click(function(){
																$(this).attr('id');
																$('#deleteConfirm').modal('show');
												            });
												            $(document).ready(function() {
												            	$('#btn_delete').click(function(){
													            	window.location = "{% url 'go_delete_sheets' id_sheets=24 %}"
													            });
													            $('#btn_close').click(function(){
													            	$('#deleteConfirm').modal('hide');
													            });
													        });
												            </script>
												          </ul>
												        </div>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
											{% if list_directory.paginator.num_pages > 1 %}
											<div class="pagination">
											    <ul>
													<li><a href="{% url 'go_list_sheets' page=1 %}"> << </a></li>
												{% if list_directory.has_previous %}
													<li><a href="{% url 'go_list_sheets' page=list_directory.previous_page_number %}"> Anterior </a></li>
												{% else %}
													<li><a href="{% url 'go_list_sheets' page=1 %}"> Anterior </a></li>
												{% endif %}
												{% if list_directory.has_next %}
													<li><a href="{% url 'go_list_sheets' page=list_directory.next_page_number %}"> Siguiente </a></li>
												{% else %}
													<li><a href="{% url 'go_list_sheets' page=list_directory.paginator.num_pages %}"> Siguiente </a></li>
												{% endif %}
													<li><a href="{% url 'go_list_sheets' page=list_directory.paginator.num_pages %}"> >> </a><li>
												</ul>
											</div>
											<div class="num_page"> Página {{ list_directory.number }} de {{ list_directory.paginator.num_pages }}</div>
											{% endif %}
										{% else %}
											<p align="center">Aún no ha creado un restaurante.</p>
										{% endif %}	
									    <br class="clear" />
									</div>
								</article>
							</div>
							<!-- content inner -->
						</div>
						<!-- content outer -->
					</div>
				</div>			
				
				{% include "sidebar/right_menu_users.html" %}
				
			</section>
			<!-- End Main Content -->
		</div>
		<!-- Main Content Wrapper End -->
		<div id="deleteConfirm" class="modal hide fade">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Confirmar</h3>
			</div>
			<div class="modal-body">
				<br />
				<p>Si elimina perderá la información relacionada. ¿Desea eliminar?</p>
			</div>
			<div class="modal-footer">
				<a href="#" id="btn_delete" class="btn btn-primary">Sí, eliminar</a>
				<a href="#" id="btn_close" class="btn">Cancelar</a>
			</div>
		</div>
{% endblock %}