{% load static from staticfiles %}
						<!-- Begin Carousel Inner -->
						<div class="carousel-inner">
							<!-- Begin Slide Section / Carousel Item -->
							<div class="slide-section active item">
								<div class="separator"></div>
							    <div class="slide-item media">
								    <a class="pull-left media-thumbnail" href="#">
								    	<img class="media-object" src="{% static 'img/assets/slideshow/thumbnail-square.png' %}" alt="thumbnail" />
								    </a>
								    <div class="media-body">
									    <h4 class="media-heading"><a href="#">Lorem ipsum dolor set amet</a></h4>
										<p>Ut dignissim aliquet nibh tristique. Donec ullamcorper nulla quis 
										Praesent a tellus vitae nisl vehicula semper.
										</p> 
								    </div>
								</div>

								<div class="separator"></div>

								<div class="slide-item media">
								    <a class="pull-left media-thumbnail" href="#">
								    	<img class="media-object" src="{% static 'img/assets/slideshow/thumbnail-square.png' %}" alt="thumbnail" />
								    </a>
								    <div class="media-body">
									    <h4 class="media-heading"><a href="#">Lorem ipsum dolor set amet</a></h4>
										<p>Ut dignissim aliquet nibh tristique. Donec ullamcorper nulla quis 
										Praesent a tellus vitae nisl vehicula semper.
										</p> 
								    </div>
								</div>
								
								<div class="separator"></div>

								<div class="slide-item media">
								    <a class="pull-left media-thumbnail" href="#">
								    	<img class="media-object" src="{% static 'img/assets/slideshow/thumbnail-square.png' %}" alt="thumbnail" />
								    </a>
								    <div class="media-body">
									    <h4 class="media-heading"><a href="#">Lorem ipsum dolor set amet</a></h4>
										<p>Ut dignissim aliquet nibh tristique. Donec ullamcorper nulla quis 
										Praesent a tellus vitae nisl vehicula semper.
										</p> 
								    </div>
								</div>
							</div>
							<!-- End Slide Section / Carousel Item -->
							<!-- =================================================================== -->
							<!-- Begin Slide Section / Carousel Item -->
							<div class="slide-section item">
								<div class="separator"></div>
							    <div class="slide-item media">
								    <a class="pull-left media-thumbnail" href="#">
								    	<img class="media-object" src="{% static 'img/assets/slideshow/thumbnail-square.png' %}" alt="thumbnail" />
								    </a>
								    <div class="media-body">
									    <h4 class="media-heading"><a href="#">Lorem ipsum dolor set amet</a></h4>
										<p>Ut dignissim aliquet nibh tristique. Donec ullamcorper nulla quis 
										Praesent a tellus vitae nisl vehicula semper.
										</p> 
								    </div>
								</div>

								<div class="separator"></div>

								<div class="slide-item media">
								    <a class="pull-left media-thumbnail" href="#">
								    	<img class="media-object" src="{% static 'img/assets/slideshow/thumbnail-square.png' %}" alt="thumbnail" />
								    </a>
								    <div class="media-body">
									    <h4 class="media-heading"><a href="#">Lorem ipsum dolor set amet</a></h4>
										<p>Ut dignissim aliquet nibh tristique. Donec ullamcorper nulla quis 
										Praesent a tellus vitae nisl vehicula semper.
										</p> 
								    </div>
								</div>
								
								<div class="separator"></div>

								<div class="slide-item media">
								    <a class="pull-left media-thumbnail" href="#">
								    	<img class="media-object" src="{% static 'img/assets/slideshow/thumbnail-square.png' %}" alt="thumbnail" />
								    </a>
								    <div class="media-body">
									    <h4 class="media-heading"><a href="#">Lorem ipsum dolor set amet</a></h4>
										<p>Ut dignissim aliquet nibh tristique. Donec ullamcorper nulla quis 
										Praesent a tellus vitae nisl vehicula semper.
										</p> 
								    </div>
								</div>
							</div>
							<!-- End Slide Section / Carousel Item -->
							<!-- =================================================================== -->
							<!-- Begin Slide Section / Carousel Item -->
							<div class="slide-section item">
								<div class="separator"></div>
							    <div class="slide-item media">
								    <a class="pull-left media-thumbnail" href="#">
								    	<img class="media-object" src="{% static 'img/assets/slideshow/thumbnail-square.png' %}" alt="thumbnail" />
								    </a>
								    <div class="media-body">
									    <h4 class="media-heading"><a href="#">Lorem ipsum dolor set amet</a></h4>
										<p>Ut dignissim aliquet nibh tristique. Donec ullamcorper nulla quis 
										Praesent a tellus vitae nisl vehicula semper.
										</p> 
								    </div>
								</div>

								<div class="separator"></div>

								<div class="slide-item media">
								    <a class="pull-left media-thumbnail" href="#">
								    	<img class="media-object" src="{% static 'img/assets/slideshow/thumbnail-square.png' %}" alt="thumbnail" />
								    </a>
								    <div class="media-body">
									    <h4 class="media-heading"><a href="#">Lorem ipsum dolor set amet</a></h4>
										<p>Ut dignissim aliquet nibh tristique. Donec ullamcorper nulla quis 
										Praesent a tellus vitae nisl vehicula semper.
										</p> 
								    </div>
								</div>
								
								<div class="separator"></div>

								<div class="slide-item media">
								    <a class="pull-left media-thumbnail" href="#">
								    	<img class="media-object" src="{% static 'img/assets/slideshow/thumbnail-square.png' %}" alt="thumbnail" />
								    </a>
								    <div class="media-body">
									    <h4 class="media-heading"><a href="#">Lorem ipsum dolor set amet</a></h4>
										<p>Ut dignissim aliquet nibh tristique. Donec ullamcorper nulla quis 
										Praesent a tellus vitae nisl vehicula semper.
										</p> 
								    </div>
								</div>
							</div>
							<!-- End Slide Section / Carousel Item -->
							
						</div>
						<!-- End Carousel Inner -->