{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block title %} Reservaciones | {% endblock %}
{% block social %}	
	<meta id="keywords" name="keywords" content="" />
	<meta id="description" name="description" content="" />
{% endblock %}
{% block css %}	
	<link rel="stylesheet" href="{% static 'css/style_login.css' %}">
{% endblock %}
{% block js %}	
	<script type="text/javascript" src="{% static 'js/jquery.numeric.js' %}"></script>
	<script lang="javascript" src="{% static 'js/dj_fw.js' %}"></script>
	<script type="text/javascript">

		$(document).ajaxStart(function(){
		    $('#spinner').show();
		}).ajaxStop(function(){
		    $('#spinner').hide();
		});
		$(document).ready(function(){
			$('#score').numeric({ negative: false });
		});
	</script> 
{% endblock %}

{% block content %}
		<!-- Main Content Wrapper Start -->
		<div class="container" role="main">
			<!-- Main Content -->
			<section id="main-content" class="row">
							
				<div id="content" class="span8">
				  
					<div class="post-single" id="post">
						<div class="content-outer">
							<div class="content-inner">
								<article>
									<div class="article-header menu_top">
										<h1 class="title">Reservaciones</h1>
										{% if directory.status == 1 %}
										<div class="menu">
											<a class="btn" href="{% url 'go_add_reservation' id_sheets=directory.pk %}"><i class="icon-plus-sign"></i> Agregar Reservación</a>
										</div>
										{% endif %}
										<div class="separator"></div>
									</div>
									<div class="article-content my_reservations">
										<p><strong>Restaurante:</strong> {{ directory.title }} 
											{% if directory.status == 1 %}
											(<a href="{% url 'go_directory' url_name=directory.url_name %}" target="_blank">Ver Establecimiento</a>)
											{% endif %}
										</p>
										{% if list_reservations %}
										<table class="table table-striped">
											<thead>
												<tr>
													<td class="status" style="text-align: center;"><strong>Estado</strong></td>
													<td><strong>Datos de la Reservación</strong></td>
													<td style="width:53px"></td>
													<td class="option" style="text-align: right;">
														{% if directory.status == 1 %}
														<strong>Cambiar Estado</strong>
														{% endif %}
													</td>
												</tr>
											</thead>
											<tbody>
												{% for reservations in list_reservations %}
												<tr>
													<td>
														{% if reservations.status == 0 %}
														<div class="btn-warning">Pendiente</div>
														{% elif reservations.status == 1 %}
														<div class="btn-info">Proceso</div>
														{% elif reservations.status == 2 %}
														<div class="btn-danger">Cancelada</div>
														{% elif reservations.status == 3 %}
														<div class="btn-danger">Vencida</div>
														{% elif reservations.status == 4 %}
														<div class="btn-success">Completada</div>
														{% endif %}
													</td>
													<td>
														{% if reservations.type == 0 %}
														<strong>Reservación a:</strong>
														{% else %}
														<strong>Servicio a Domicilio de:</strong>
														{% endif %}
														 {{ reservations.name }}<br />
														<strong>Fecha:</strong> {{ reservations.date }}. <strong>Hora:</strong> {{ reservations.time|time:"h:i A" }}. ( {{ reservations.people }} Persona{{ reservations.people|pluralize }} ) <br />
														{% if reservations.status == 4 %}
														<strong>Total de la Cuenta:</strong> $ {{ reservations.score }}
														{% endif %}
													</td>
													<td><a href="{% url 'go_edit_reservation' id_sheets=reservations.directory.pk id_reservation=reservations.pk %}" class="btn">Editar</a></td>
													<td>
														{% if directory.status == 1 %}
														<div class="btn-group">
												          <a class="btn" href="#"><i class="icon-cog icon-black"></i></a>
												          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
												          <ul class="dropdown-menu">
												          	{% if not reservations.status == 0 %}
												            <li><a href="{% url 'set_status_reservation' id_sheets=reservations.directory.pk id_reservation=reservations.pk url_name='pending' %}"><i class="icon-time"></i> Pendiente</a></li>
												            {% endif %}
												          	{% if not reservations.status == 1 %}
												            <li><a href="{% url 'set_status_reservation' id_sheets=reservations.directory.pk id_reservation=reservations.pk url_name='process' %}"><i class="icon-random"></i> Proceso</a></li>
												            {% endif %}
												            {% if not reservations.status == 2 %}
												            <li><a href="{% url 'set_status_reservation' id_sheets=reservations.directory.pk id_reservation=reservations.pk url_name='cancel' %}"><i class="icon-ban-circle"></i> Cancelada</a></li>
												            {% endif %}
												            {% if not reservations.status == 3 %}
												            <li><a href="{% url 'set_status_reservation' id_sheets=reservations.directory.pk id_reservation=reservations.pk url_name='expire' %}"><i class="icon-remove"></i> Vencida</a></li>
												            {% endif %}
												            {% if not reservations.status == 4 %}
												            <li><a href="#reservation" data-url="{% url 'set_status_reservation' id_sheets=reservations.directory.pk id_reservation=reservations.pk url_name='complete' %}" id="setComplete" data-toggle="modal"><i class="icon-ok"></i> Completada</a></li>
												            {% endif %}
												          </ul>
												        </div>
												        {% endif %}
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
											{% if list_reservations.paginator.num_pages > 1 %}
											<div class="pagination">
											    <ul>
													<li><a href="{% url 'go_list_reservation' id_sheets=directory.pk id_page=1 %}"> << </a></li>
												{% if list_reservations.has_previous %}
													<li><a href="{% url 'go_list_reservation' id_sheets=directory.pk id_page=list_reservations.previous_page_number %}"> Anterior </a></li>
												{% else %}
													<li><a href="{% url 'go_list_reservation' id_sheets=directory.pk id_page=1 %}"> Anterior </a></li>
												{% endif %}
												{% if list_reservations.has_next %}
													<li><a href="{% url 'go_list_reservation' id_sheets=directory.pk id_page=list_reservations.next_page_number %}"> Siguiente </a></li>
												{% else %}
													<li><a href="{% url 'go_list_reservation' id_sheets=directory.pk id_page=list_reservations.paginator.num_pages %}"> Siguiente </a></li>
												{% endif %}
													<li><a href="{% url 'go_list_reservation' id_sheets=directory.pk id_page=list_reservations.paginator.num_pages %}"> >> </a><li>
												</ul>
											</div>
											<div class="num_page"> Página {{ list_reservations.number }} de {{ list_reservations.paginator.num_pages }}</div>
											{% endif %}
										{% else %}
											<br />
											<p align="center">Aún no tiene reservaciones.</p>
										{% endif %}
									</div>
									<br class="clear" />
									<br class="clear" />
									<br class="clear" />
									<br class="clear" />
									<br class="clear" />
									<br class="clear" />
									<br class="clear" />
									<br class="clear" />
								</article>
							</div>
							<!-- content inner -->
						</div>
						<!-- content outer -->
					</div>
				</div>			
				
				{% include "sidebar/right_menu_users.html" %}
				
			</section>
			<!-- End Main Content -->
		</div>
		<!-- Main Content Wrapper End -->
		<!-- Modal -->
		<div id="reservation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Datos de la Reservación</h3>
		  </div>
		  <div class="modal-body">
		  	<form method="post" action="#" name="data_reservation" id="data_reservation">
		    	{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="msg_reservation"></div>
				<p>
					<span><strong>Total de la Cuenta:</strong></span>
					<div class="input-prepend">
						<span class="add-on">$</span>
						<input class="span2" name="score" id="score" type="text" maxlength="7" >
						<div class="ej_score">Ej: 100.00</div>
					</div>
				</p>
			</form>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
		    <button id="btn_guardar" class="btn btn-primary">Guardar</button>
		  </div>
		</div>
{% endblock %}