{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block title %} Referidos | {% endblock %}
{% block social %}
	<meta id="keywords" name="keywords" content="" />
	<meta id="description" name="description" content="" />
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
	<script lang="javascript" src="{% static 'js/dj_fw.js' %}"></script>
	<script type="text/javascript">

		$(document).ajaxStart(function(){
		    $('#spinner').show();
		}).ajaxStop(function(){
		    $('#spinner').hide();
		});

	</script>
{% endblock %}

{% block content %}
		<!-- Main Content Wrapper Start -->
		<div class="container" role="main">
			<!-- Main Content -->
			<section id="main-content" class="row">

				<div id="content" class="span8">

					<div class="post-single" id="post">
						<div class="content-outer">
							<div class="content-inner">
								<article>
									<div class="article-header">
										<h1 class="title">Referidos</h1>
										<div class="separator"></div>
									</div>
									<div class="article-content dashboard">
										{% comment %}
										<fieldset>
											<p><strong>¿Como funciona el sistema de referidos?</strong></p>
											<p>Los usuarios que recomiendes a nuestro sitio te harán obtener puntos que pueden ser usados como Comensal en los Establecimientos registrados en zonetable.com</p>
											<p>Si tus referidos incluyen sus Establecimientos en zonetable.com tambien te generarán puntos.</p>
										</fieldset>
										{% endcomment %}
										<fieldset>
											<strong>Tu enlace para obtener referidos</strong> (Usa el enlace en sitios web, foros, blogs para atraer referidos.):
											<br /><br />
											<div class="refer_link">
												{{URL_SITE}}referer/{{list_user.pk}}/
											</div>
										</fieldset>
										<br />
										<fieldset>
											<strong>Visitas de Referidos:</strong> 0
										</fieldset>
										<fieldset>
											<strong>Referidos Inscritos:</strong> 0
										</fieldset>
										{% comment %}
										<br />
										<fieldset>
											<strong>Puntos adquiridos:</strong> 0
										</fieldset>
										{% endcomment %}
									    <br class="clear" />
									</div>
								</article>
							</div>
							<!-- content inner -->
						</div>
						<!-- content outer -->
					</div>
				</div>

				{% include "sidebar/right_menu_users.html" %}

			</section>
			<!-- End Main Content -->
		</div>
		<!-- Main Content Wrapper End -->
{% endblock %}
