{% extends 'layout.html' %}

{% block title %} 500 | {% endblock %}
{% block social %}	
	<meta id="keywords" name="keywords" content="" />
	<meta id="description" name="description" content="" />
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}

{% block slider %} 	
{% endblock %}

{% block content %}	
		<!-- Main Content Wrapper Start -->
		<div class="container" role="main">
			<!-- Main Content -->
			<section id="main-content" class="row">
							
				<div id="content" class="span12">
				  
					<div class="post-single" id="post">
						<div class="content-outer">
							<div class="content-inner">
								
								<div class="error404">
									<h4 class="style3">Error 500</h4>
									<p class="">Lo sentimos, se ha producido un error no esperado.</p>
								</div>
								
							</div>

							<!-- content inner -->
						</div>
						<!-- content outer -->
					</div>
				    
				</div>
				

			</section>
			<!-- End Main Content -->

		</div>
		<!-- Main Content Wrapper End -->
{% endblock %}
