{% extends 'layout.html' %}

{% block title %} Preguntas frecuentes | {% endblock %}
{% block social %}
	<meta id="keywords" name="keywords" content="" />
	<meta id="description" name="description" content="Preguntas frecuentes" />
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}

{% block content %}
			<!-- Main Content Wrapper Start -->
		<div class="container" role="main">
			<!-- Main Content -->
			<section id="main-content" class="row">

				<div id="content" class="span8">

					<div class="post-single" id="post">
						<div class="content-outer">
							<div class="content-inner">
								<article>
									<div class="article-header">
										<h1 class="title">Preguntas frecuentes</h1>

										<div class="separator"></div>
									</div>
									<div class="article-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Virtutis, magnitudinis animi, patientiae, fortitudinis fomentis dolor mitigari solet. <mark>Duo Reges: constructio interrete.</mark> Ita similis erit ei finis boni, atque antea fuerat, neque idem tamen; <a href='http://loripsum.net/' target='_blank'>Nihil enim hoc differt.</a> Nam aliquando posse recte fieri dicunt nulla expectata nec quaesita voluptate. <i>Zenonis est, inquam, hoc Stoici.</i> An eiusdem modi? Quod, inquit, quamquam voluptatibus quibusdam est saepe iucundius, tamen expetitur propter voluptatem. </p>
										<h3 class="post-lead">Blockquotes</h3>
										<blockquote>
											<p>Quid paulo ante, inquit, dixerim nonne meministi, cum omnis dolor detractus esset, variari, non augeri voluptatem?</p>
											<small>Someone famous <cite title="Source Title">Source Title</cite></small>
										</blockquote>

										<h3 class="post-lead">Unordered &amp; Ordered Lists</h3>

										<ul>
											<li>Hoc est non modo cor non habere, sed ne palatum quidem.</li>
											<li>Illis videtur, qui illud non dubitant bonum dicere -;</li>
										</ul>


										<ol>
											<li>Si enim ita est, vide ne facinus facias, cum mori suadeas.</li>
											<li>Familiares nostros, credo, Sironem dicis et Philodemum, cum optimos viros, tum homines doctissimos.</li>
											<li>Sed tamen enitar et, si minus multa mihi occurrent, non fugiam ista popularia.</li>
											<li>At iam decimum annum in spelunca iacet.</li>
										</ol>
										<p>
											Ut dignissim aliquet nibh tristique hendrerit. Donec ullamcorper nulla quis metus vulputate id placerat augue eleifend. Aenean venenatis consectetur orci, sit amet ultricies magna sagittis vel. Nulla non diam nisi, ut ultrices massa. Pellentesque sed nisl metus. Praesent a mi vel ante molestie venenatis.
										</p>
									</div>
								</article>
							</div>
							<!-- content inner -->
						</div>
						<!-- content outer -->
					</div>
				</div>

				{% include "sidebar/right.html" %}

			</section>
			<!-- End Main Content -->
		</div>
		<!-- Main Content Wrapper End -->
{% endblock %}